*{
	margin: 0;
	padding: 0;
}
/*ICON BODY*/
.ico-color{
	color: #8F8F8F;"
}
.ico-color:hover{
	color: #8F8F8F;"
}
.ico-color-dark{
	color: #6D6F70;
}
.ico-color-dark:hover{
	color: #2A2D2E;
}
.bg-color{
	background-color: #9E9E9E;
	color: #E9AF00;"
}
/*ICON BODY*/
/*MARGIN*/
.margin-top{
	margin-top: 100px;
}
.margin-bottom{
	margin-bottom: 50px;
}
/* END MARGIN*/

/*LINE BOTTOM AND TOP NAVBAR */
.line-bottom{
	border-bottom: 1px solid #D3D3D3;
}
.line-top{
	border-top: 1px solid #D3D3D3;
}
/*LINE BOTTOM AND TOP NAVBAR */

.box-shadow{
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}

/*CONTENT BODY*/
.content-body{
	padding: 30px;
	font-size: 19px;
	line-height: 36px;
	color: #343434;
	background-color: white;
	border-radius: 0px;
}
.content-body-1{
	padding: 5px;
	font-size: 17px;
	line-height: 25px;
	color: #343434;
	background-color: white;
	border-radius: 0px;
}
.content-body-2{
	padding: 10px;
	font-size: 17px;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #2F2F2F;
	border-radius: 0px;
}
.content-body-3{
	padding: 1px;
	font-size: 17px;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #2F2F2F;
	border-radius: 2px;
}
.content-body-4{
	padding: 40px;
	background-color: #FFF;
	border-radius: 0px;
	font-size: 16px;
	line-height: 30px;
	color: #343434;
}


/* END CONTENT BODY*/

/*PRODUCT CARD*/
.product-img{
	width: 100%;
	border-top-left-radius: calc(.0rem - 1px);
	border-top-right-radius: calc(.0rem - 1px);
	display: block;
	height: 23vh;
	overflow: hidden;
	position: relative;
}
img{
	vertical-align: middle;
	border-style: none;
}
.product-body{
	height: 200px;
	position: relative;
	padding: 20px;
	background-color: white;
}
.product-category{
	margin-bottom: 10px;
	font-size: 12px;
	color: #bfbfbf;;
	letter-spacing: 1px;
}
.product-price{
	position: absolute;
	bottom: 45px;
	font-size: 16px;
	color: black;
}


.product-title{
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	height: 36px;
	min-height: 40px;
	font-size: 15px;
	color: #29303b;
	margin-bottom: 10px;
}
.product-level{
	position: absolute;
	bottom: 23px;
	left: : 20px;
	font-size: 12px;
	color: #bfbfbf;
	letter-spacing: 1px;
}
.product-btn{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/* END PRODUCT CARD*/

/*ICON*/
.fa-facebook{
	color: #ffc107;
}
.fa-instagram{
	color:#ffc107;
}
.fa-twitter{
	color: #ffc107;
}
.fa-instagram:hover{
	color: #F41FCE;
}
.fa-twitter:hover{
	color:#007bff;
}
.fa-facebook:hover{
	color: #006DE1;
}
/*END ICON*/

.description{
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	height: 56px;
	min-height: 100px;
	font-size: 15px;
	color: #29303b;
	margin-bottom: 10px;
}

