.ico-color{
	color: #8F8F8F;"
}
.ico-color:hover{
	color: #8F8F8F;"
}
.ico-color-dark{
	color: #6D6F70;
}
.ico-color-dark:hover{
	color: #2A2D2E;
}
.bg-color{
	background-color: #9E9E9E;
	color: #E9AF00;"
}

.margin-top{
	margin-top: 100px;
}
.margin-bottom{
	margin-bottom: 50px;
}